<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">

  <header class="article-header">
    <%- partial('post/title', {class_name: 'article-title'}) %>
  </header>

  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <% if (post.author){ %><div class="article-author"><%= post.author %></div><% } %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <div class="article-entry" itemprop="articleBody">
    更多请关注 >> <a href="http://java.jr-jr.com">http://java.jr-jr.com</a>
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a class="btn btn-primary" href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- toc(post.content) %>
        <%- post.content %>
      <% } %>
    </div>

    <% if (!(post.excerpt && index)){ %>
      <%- partial('post/gallery') %>
    <% } %>


  <center>
      <hr/>
    扫描下面的二维码,加入微信公众号,得到最新的资料:
    <br/>
    <img src="/weixin.jpg"  width="256px" />
  </center>
  <footer class="article-footer">
        <%- partial('post/tag') %>
  </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>
<div class="ds-thread" data-thread-key="<%- post.path %>" data-title="<%- post.title %>" data-url="<%- post.permalink %>"></div>

<script type="text/javascript">
      var duoshuoQuery = {short_name:"java-jr-jr-com"};
      	(function() {
      		var ds = document.createElement('script');
      		ds.type = 'text/javascript';ds.async = true;
      		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      		ds.charset = 'UTF-8';
      		(document.getElementsByTagName('head')[0]
      		 || document.getElementsByTagName('body')[0]).appendChild(ds);
      	})();
</script>
